@import '../base/_fontsSize.scss';
@import '../base/_settings.scss';

input {
    border-radius: 8px;
    border-width: 2px;
    border-style: solid;
    border-color: $terciary-color;
    padding: 8px;
    width: 100%;
    &:focus-visible {
        outline: none;
    }
    &:-webkit-autofill {
        -webkit-text-fill-color: $terciary-color !important;
    }
    &.focused {
        border-color: $primary-hover;
    }
}