$primary-color: #e1918e;
$secondary-color: #c3e6d4;
$terciary-color: #e0c4ae;

$background-color: #c3e6d4;
$background-overlay: #222222cc;

$primary-hover: #e15e6e;
$secondary-hover: #a1d3b9;
$terciary-hover: #e4b28d;

$typography-color: #4a4a4a;
$typography-link-hover: #456655;

$white: #FEFEFE;
$black: #222;
